<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login Code</title>
</head>
<body>


<form action="/process" method="POST">
    <div><label for="fer">Your Code</label> </div>
    <div><input type="number" name="otpcode" id="fer" placeholder="Your code"></div>
    <div><input type="submit" value="Submit"></div>
</form>
</body>
</html>