<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>INDEX</title>
</head>
<body>

<h2>Index</h2>
<title>Go Login</title>

<form action="/login" method="POST">
    <div><input type="submit" value="Login"></div>
</form>
<form action="/register" method="POST">
    <div><input type="submit" value="Register"></div>
</form>
</body>
</html>